/* =======================CUSTOM============================= */
:root {
  --main-font-family: "Roboto", sans-serif;
  --logo-font-family: "Raleway", sans-serif;
  --brand-color: #4d5ae5;
  --accent-link-color: #4d5ae5;
  --hero-text-color: #ffffff;
  --primary-text-color: #2e2f42;
  --logo-light-theme: #f4f4fd;
  --body-text-color: #434455;
  --main-background-color: #ffffff;
  --background-color-dark: #2e2f42;
  --section-background-color: #f4f4fd;
  --subtitle-background: #e7e9fc;
  --button-text-color: #ffffff;
  --accent-button-color: #404bbf;
  --filter-background-color: #f4f4fd;
}
/* =======================/CUSTOM============================= */

/* ========================RESET============================= */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
/* ========================/RESET============================= */

/* =======================GLOBAL SETTINGS====================*/
body {
  font-family: var(--main-font-family);
  color: var(--primary-text-color);
  background-color: var(--main-background-color);
  font-size: 16;
}
/* =======================/GLOBAL SETTINGS====================*/

/* =====================COMPONENTS============================ */
.container {
  max-width: 1158px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  outline: 2px solid red;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: lightsalmon;
}

.link-none {
  text-decoration: none;
}
.list-none {
  list-style: none;
}
.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-text-color);
}
.section-suptitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.section-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text-color);
}
/* =====================/COMPONENTS============================ */

/* ======================HEADER============================== */
.header {
  border: 1px solid #e7e9fc;
  border-top: none;
  border-right: none;
  border-left: none;
}
.header-box {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-nav {
  display: flex;
  align-items: center;
}

.logo-link {
  margin-right: 76px;
  font-family: var(--logo-font-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-color);
}
.logo-dark {
  color: var(--primary-text-color);
}
.logo-light {
  color: var(--logo-light-theme);
}

.menu-nav {
  display: flex;
  align-items: center;
}

.menu-item:not(:last-child) {
  padding-right: 40px;
}
.menu-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: currentColor;
}

.header-nav .menu-link.current {
  color: var(--accent-link-color);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-link-color);
}
.contacts-box {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.contacts-list {
  display: flex;
  align-items: center;
}
.contacts-item:not(:last-child) {
  margin-right: 40px;
}

.contacts-link {
  font-style: normal;
  line-height: 1.5px;
  letter-spacing: 0.02em;
  color: currentColor;
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-link-color);
}

/* ======================/HEADER============================== */

/* ======================HERO================================= */
.hero {
  background-color: var(--background-color-dark);
}
.hero-box {
  padding-top: 188px;
  padding-right: auto;
  padding-bottom: 188px;
  padding-left: auto;
}

.hero-title {
  max-width: 499px;
  margin-right: auto;
  margin-bottom: 48px;
  margin-left: auto;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--hero-text-color);
}
/* Тут треба переробляти, бо ширина головного заголовка не збігається з макетом + доробити кнопу там теж саме */
.hero-btn {
  display: flex;
  min-width: 168px;
  border-radius: 4px;
  padding: 15px 31px;
  border: 1px solid transparent;
  margin-left: auto;
  margin-right: auto;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;

  color: var(--button-text-color);
  background-color: var(--brand-color);
  cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--accent-button-color);
}
/* ======================/HERO================================= */

/* =======================SECTION ONE======================== */
.principles-list {
  display: flex;
  gap: 24px;
}
.principles-item {
  flex-basis: calc((100% - 72px) / 4);
}
.principles-title {
  margin-bottom: 8px;
}
/* НЕ ТА ШИРИНА */
/* =======================/SECTION ONE======================== */

/* =======================SECTION TWO======================== */

/* =======================/SECTION TWO======================== */

/* =======================SECTION TREE======================== */
.team {
  background-color: var(--section-background-color);
}
.team-cards {
  background-color: var(--main-background-color);
}
/* =======================/SECTION TREE======================== */

/* =========================FOOTER============================== */
.footer {
  background-color: var(--background-color-dark);
}
.footer-dscr {
  color: var(--subtitle-background);
}

/* =========================/FOOTER============================== */

/*+++++++++++++++++++++++++PAGE PORTFOLIO+++++++++++++++++++++++++ */

/* ======================BUTTONS FILTER=========================== */
.filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--brand-color);
  background-color: var(--filter-background-color);
  cursor: pointer;
}
.filter-btn:hover,
.filter-btn:focus {
  color: var(--button-text-color);
  background-color: var(--accent-button-color);
}
/* ======================/BUTTONS FILTER=========================== */

/* =======================MAIN CONTENT============================= */

/* =======================/MAIN CONTENT============================= */

/*+++++++++++++++++++++++++/PAGE PORTFOLIO+++++++++++++++++++++++++ */
